/*Контакты*/
.contacts-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: $desktop){
        margin-left: 305px;
    }

    li{
        display: flex;

        @media screen and (min-width: $desktop){
            align-items: center;
        }

        &:nth-child(1){
            margin-bottom: 16px;

            @media screen and (min-width: $desktop){
                padding-right: 30px;
            }
        }
    }

    a{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: $text-color-grey;
        display: flex;
        align-items: center;
        transition: $animation-timing-time;

        @media screen and (min-width: $desktop){
            font-size: 14px;
            line-height: 16px;
        }

        &:hover,
        &:focus{
        color: $bt-second;
        transition: $animation-timing-time;
        }
    }
}

.link-icon{
    fill: currentColor;
    padding-right: 10px;
}

.icon-email{
    width: 1.9em;
    height: 1.9em;
}

.icon-smartphone{
    width: 1.45em;
    height: 1.45em;
}